extends layout

block content
  h1 #{title}
  form(method='POST', action='/bookings/add/'+article._id)

    #form-group
      label Title:
      input.form-control(name='title', type='text')

    #form-group
        label Booking:
        br
        input(type='date' name='checkIn')
        | CheckIn
        br
        input(type='date' name='checkOut')
        | CheckOut
        br
        label Total Days: 





    fieldset
        p
        #premiumFeaturesGroup
            label Premium Features:
            br
            input(type='checkbox' id='myPremiumFeaturePrice1' name='premiumFeature1' value='Wifi')
            | Wifi - 05.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice2' name='premiumFeature2' value='AC')
            | Air Conditioning - 42.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice3' name='premiumFeature3' value='FireWood')
            | Fire Wood - 33.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice4' name='premiumFeature4' value='Telephone')
            | Telephone - 11.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice5' name='premiumFeature5' value='Cable TV')
            | Cable TV Premium Serice - 27.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice6' name='premiumFeature6' value='Pool')
            | Pool - 120.00€
            br
            p.total-cost
            label Total Cost: $ 
            input.total-cost(type='text', name='total-cost', value='05', readonly='readonly')


            input.form-control(type='hidden' name='totalCost' , value='')


            input.form-control(type='hidden' name='status' , value='1')
            input.form-control(type='hidden' name='features' , value=article.features)
            input.form-control(type='hidden' name='bookingImage' , value=article.articleImage)

            input(type='hidden' name='createdAt' value= Date() )






    br
    input.btn.btn-primary(type='submit',value='Submit')

  script.
        function calculateCheckbox() {
            document.getElementById("myPremiumFeaturePrice1").value = "5";
            document.getElementById("myPremiumFeaturePrice2").value = "42";
            document.getElementById("myPremiumFeaturePrice3").value = "33";
            document.getElementById("myPremiumFeaturePrice4").value = "11";
            document.getElementById("myPremiumFeaturePrice5").value = "27";
            document.getElementById("myPremiumFeaturePrice6").value = "120";
            
            // get beauty products checkboxes contianer's reference
            var el = document.getElementById('premiumFeaturesGroup') ;

           // get beauty product input element reference in beauty products container
            var products = el.getElementsByTagName('input');
            
            
            // get products length
            var len = products.length;
        
            // call updateCost() function to onclick event on every checkbox
            for (var i = 0; i < len; i++) {
                if (products[i].type === 'checkbox') {
                    products[i].onclick = updateCost;
                }
            }
        }
        
        // called onclick of beauty products checkboxes
        function updateCost(e) {
            // 'this' reffered to checkbox clicked on
            var myForm = this.form;
        
            // include current value in total-cost block, use parseFloat method to convert string to number
            var val = parseFloat(myForm.elements['total-cost'].value);



            // Add the checkbox value to total value if checkbox is checked
            if (this.checked) {
            val += parseFloat(this.value);
            } else {
            val -= parseFloat(this.value);
            }
        
            // update total-cost value with latest value
            myForm.elements['total-cost'].value = val
            myForm.elements['totalCost'].value = val
        }
        
        // call calculateCheckbox method
        calculateCheckbox();





