extends layout

block content
  h1 #{title}
  form(method='POST', action='/bookings/add/'+article._id)

    #form-group
        label Title:
        input.form-control(name='title', type='text')
        br

    #form-group
        label Booking:
        br
        input(type='date' name='checkIn' id='checkIn')
        | CheckIn
        br
        input(type='date' name='checkOut' id='checkOut')
        | CheckOut
        br
        label Total of Stays: 
        br
        input(type='button' name='totalOfDays' value="click" onclick= 'datee()')
        br
        label Price per Stay:
        br
        input(type='number' name='dayPrice' , value= article.dayPrice ,readonly='readonly')






    fieldset
        p
        #premiumFeaturesGroup

            label Premium Features:
            br
            input(type='checkbox' id='myPremiumFeaturePrice1' name='premiumFeature1' value='{preco:999,nome:WIFI}')
            | Wifi - 05.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice2' name='premiumFeature2' value='{preco:100,nome:AC}')
            | Air Conditioning - 42.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice3' name='premiumFeature3' value='{preco:98,nome:firewood}')
            | Fire Wood - 33.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice4' name='premiumFeature4' value='{preco:98,nome:telephone}')
            | Telephone - 11.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice5' name='premiumFeature5' value='{preco:98,nome:TV}')
            | Cable TV Premium Serice - 27.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice6' name='premiumFeature6' value='{preco:98,nome:pool}')
            | Pool - 120.00€
            br
            p.total-cost
            label Total Cost:
            br
            input.total-cost(type='text', name='total-cost', value='05', readonly='readonly')


            input.form-control(type='hidden' name='totalCost' , value='')


            input.form-control(type='hidden' name='status' , value='1')
            input.form-control(type='hidden' name='features' , value=article.features)
            input.form-control(type='hidden' name='bookingImage' , value=article.articleImage)
            input(type='hidden' name='createdAt' value= Date() )

            br
            br
            br
            br
            br
            label TOTAL:
            br




    br
    input.btn.btn-primary(type='submit',value='Submit')



    
    
    script.


        function parseDate(s) {
            var b = s.split(/\D/);
            return new Date(b[0], --b[1], b[2]);
        }

        function datee() {
            checkIn = parseDate(document.getElementById("checkIn").value) ;
            checkOut = parseDate(document.getElementById("checkOut").value);

            const diffTime = Math.abs(checkOut.getTime() - checkIn.getTime());
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 


            console.log(diffDays);
            alert(diffDays);
        }

    
        function formatDate (input) {
            var datePart = input.match(/\d+/g),
            year = datePart[0].substring(2), // get only two digits
            month = datePart[1], day = datePart[2];
            return day+'/'+month+'/'+year;
        }




        function calculateCheckbox() {
            //- document.getElementById("myPremiumFeaturePrice1").value = "5";
            //- document.getElementById("myPremiumFeaturePrice2").value = "42";
            //- document.getElementById("myPremiumFeaturePrice3").value = "33";
            //- document.getElementById("myPremiumFeaturePrice4").value = "11";
            //- document.getElementById("myPremiumFeaturePrice5").value = "27";
            //- document.getElementById("myPremiumFeaturePrice6").value = "120";
            
            // get beauty products checkboxes contianer's reference
            var el = document.getElementById('premiumFeaturesGroup') ;

           // get beauty product input element reference in beauty products container
            var products = el.getElementsByTagName('input');
            
            
            // get products length
            var len = products.length;
        
            // call updateCost() function to onclick event on every checkbox
            for (var i = 0; i < len; i++) {
                if (products[i].type === 'checkbox') {
                    products[i].onclick = updateCost;
                }
            }
        }
        
        // called onclick of beauty products checkboxes
        function updateCost(e) {
            // 'this' reffered to checkbox clicked on
            var myForm = this.form;
        
            // include current value in total-cost block, use parseFloat method to convert string to number
            var val = parseFloat(myForm.elements['total-cost'].value);



            // Add the checkbox value to total value if checkbox is checked
            if (this.checked) {
            val += parseFloat(this.value);
            } else {
            val -= parseFloat(this.value);
            }
        
            // update total-cost value with latest value
            myForm.elements['total-cost'].value = val
            myForm.elements['totalCost'].value = val
            myForm.elements['pricePerStay'].value = article.dayPrice
        }
        

        // call calculateCheckbox method
        //calculateCheckbox();
