extends layout

block content
  h1 #{title}
  form(method='POST', action='/bookings/add/'+article._id)

    #form-group
      label Title:
      input.form-control(name='title', type='text')

    #form-group
        label Booking:
        br
        input(type='date' name='checkIn')
        | CheckIn
        br
        input(type='date' name='checkOut')
        | CheckOut






    fieldset
        p
        #premiumFeaturesGroup
            label Premium Features:
            br
            input(type='checkbox' id='myPreamiumFeaturePrice' name='premiumFeature1' value='12')
            | Wifi
            br
            input(type='checkbox' id='myPreamiumFeaturePrice' name='premiumFeature2' value='12')
            | Air Conditioning
            br
            input(type='checkbox' id='myPreamiumFeaturePrice' name='premiumFeature3' value='12')
            | Fire Wood
            br
            input(type='checkbox' id='myPreamiumFeaturePrice' name='premiumFeature4' value='12')
            | Telephone
            br
            input(type='checkbox' id='myPreamiumFeaturePrice' name='premiumFeature5' value='12')
            | Cable TV Premium Serice
            br
            input(type='checkbox' id='myPreamiumFeaturePrice' name='premiumFeature6' value='12')
            | Pool
            br
            p.total-cost
            label Total Cost: $ 
            input.total-cost(type='text', name='total-cost', value='25', readonly='readonly')


            input.form-control(type='hidden' name='totalCost' , value='')
            input.form-control(type='hidden' name='bookingImage' , value=article.articleImage)

            input.form-control(type='hidden' name='status' , value='1')
            input.form-control(type='hidden' name='features' , value=article.features)
            input.form-control(type='hidden' name='bookingImage' , value=article.articleImage)








    br
    input.btn.btn-primary(type='submit',value='Submit')

  script.
        function calculateCheckbox() {
            // get beauty products checkboxes contianer's reference
            var el = document.getElementById('premiumFeaturesGroup');

           // get beauty product input element reference in beauty products container
            var products = el.getElementsByTagName('input');
            
            // get products length
            var len = products.length;
        
            // call updateCost() function to onclick event on every checkbox
            for (var i = 0; i < len; i++) {
                if (products[i].type === 'checkbox') {
                    products[i].onclick = updateCost;
                }
            }
        }
        
        // called onclick of beauty products checkboxes
        function updateCost(e) {
            // 'this' reffered to checkbox clicked on
            var myForm = this.form;
        
            // include current value in total-cost block, use parseFloat method to convert string to number
            var val = parseFloat(myForm.elements['total-cost'].value);



            // Add the checkbox value to total value if checkbox is checked
            if (this.checked) {
            val += parseFloat(this.value);
            } else {
            val -= parseFloat(this.value);
            }
        
            // update total-cost value with latest value
            myForm.elements['total-cost'].value = val
            myForm.elements['totalCost'].value = val
        }
        
        // call calculateCheckbox method
        calculateCheckbox();


