extends layout

block content
  h1 #{title}
  form(method='POST', action='/bookings/add/'+article._id)

    #form-group
        label Title:
        input.form-control(name='title' type='text' )
        p

    #form-group
        label Booking:
        br 
        input(type='date' name='checkIn' id='checkIn')
        | CheckIn
        br
        input(type='date' name='checkOut' id='checkOut')
        | CheckOut
        br
        input(type='button' name='buttonDates' value='Confirm Dates' onclick= 'datee()')
        input(type='hidden' id='diffDays' name='totalOfStayDays' readonly='readonly'  placeholder='Days' style='text-align:right')
        br
        //- strong Price per Stay: 
        //- |  #{article.pricePerStay}
        //- br
        br
        label Total Staying Cost €:
        br 
        input(type='number' id='totalStayingCost' name='totalStayingCost' readonly='readonly'  placeholder="" )
        p



    fieldset
        p
        #premiumFeaturesGroup

            label Premium Features:
            br
            input(type='checkbox' id='myPremiumFeaturePrice1' name='premiumFeature1' value='{"preco":"05" , "nome":"WIFI"}')
            | Wifi - 05.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice2' name='premiumFeature2' value='{"preco":"42","nome":"AC"}')
            | Air Conditioning - 42.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice3' name='premiumFeature3' value='{"preco":"33","nome":"firewood"}')
            | Fire Wood - 33.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice4' name='premiumFeature4' value='{"preco":"11","nome":"telephone"}')
            | Telephone - 11.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice5' name='premiumFeature5' value='{"preco":"27","nome":"TV"}')
            | Cable TV Premium Serice - 27.00€
            br
            input(type='checkbox' id='myPremiumFeaturePrice6' name='premiumFeature6' value='{"preco":"120","nome":"pool"}')
            | Pool - 120.00€
            br
            p.total-cost
            label Total Features Cost €:
            br
            input.total-cost(type='text' name='total-cost' readonly='readonly', value='00' )
            input.form-control(type='hidden' id='totalCost' name='totalCost' value='0' )


        br
        br
        br
        br
        br
        label FINAL BOOKING TOTAL:
        br
        input(type='number' id='totalFinalCost' name='totalFinalCost' , value='0', readonly='readonly')
        br
        br

        //- Hidden Fields
        input.form-control(type='hidden' name='status' , value='1')
        input(type='hidden' name='createdAt' value= Date() )       

        
        input.btn.btn-primary(type='submit',value='Submit')


    
    script.
        function parseDate(s) {
            var b = s.split(/\D/);
            return new Date(b[0], --b[1], b[2]);
        }

        //---------------------------------------------------------------------------------
        function datee() {
            checkIn = parseDate(document.getElementById("checkIn").value) ;
            checkOut = parseDate(document.getElementById("checkOut").value);

            const diffTime = Math.abs(checkOut.getTime() - checkIn.getTime());
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 

            document.getElementById("diffDays").value = diffDays;

            // parse price per stay
            precoPorDia = #{article.pricePerStay};
            pricePerStay = parseFloat(precoPorDia);
            

            // give value to price of staying
            var totalStayingCost =  diffDays * pricePerStay;
            document.getElementById('totalStayingCost').value = totalStayingCost;

        }
        
        //---------------------------------------------------------------------------------
        function calculatePrices() {

            var stayingDays = document.getElementById('diffDays').value;
            
            var pricePerday = article.pricePerStay;
            var totalStayingCost = pricePerday * stayingDays;
            
            document.getElementById('totalStayingCost').value = totalStayingCost ;
        }


        

        //---------------------------------------------------------------------------------
        function formatDate (input) {
            var datePart = input.match(/\d+/g),
            year = datePart[0].substring(2), // get only two digits
            month = datePart[1], day = datePart[2];
            return day+'/'+month+'/'+year;
        }

        //---------------------------------------------------------------------------------
        function calculateCheckbox() {

            
            // get beauty products checkboxes contianer's reference
            var el = document.getElementById('premiumFeaturesGroup') ;

           // get beauty product input element reference in beauty products container
            var products = el.getElementsByTagName('input');
            
            
            // get products length
            var len = products.length;
        
            // call updateCost() function to onclick event on every checkbox
            for (var i = 0; i < len; i++) {
                if (products[i].type === 'checkbox') {
                    products[i].onclick = updateCost;
                }
            }
        }
        
        // called onclick of beauty products checkboxes
        function updateCost(e) {
            // 'this' reffered to checkbox clicked on
            var myForm = this.form;
        
            // include current value in total-cost block, use parseFloat method to convert string to number




            var val = parseFloat(myForm.elements['total-cost'].value);

            

            // Add the checkbox value to total value if checkbox is checked
            if (this.checked) {
            
            // save value before parsing
            var valueBeforParsing = this.value;

            // get only the single field in value
            var a = JSON.parse(this.value);
            this.value = a.preco;

            val += parseFloat(this.value);
            } else {
            val -= parseFloat(this.value);
            }
        
            // update total-cost value with latest value
            myForm.elements['total-cost'].value = val
            myForm.elements['totalCost'].value = val
            
            // Return the original this.value
            this.value = valueBeforParsing;

            a = document.getElementById('totalStayingCost').value;
            b = JSON.parse(a);
            //- alert(b);

            var totalFinal = b + val;
            document.getElementById('totalFinalCost').value = totalFinal;
    


       }        


        //---------------------------------------------------------------------------------
        function displayPricePerStay() {
            document.getElementById("totalStayingCost").placeholder = " Price per stay: #{article.pricePerStay}" ;

        }

        //---------------------------------------------------------------------------------
        function displayFinalTotalCost() {

            var totalStaying  = document.getElementById('totalCostFeatures').value;
            var totalFeatures = document.getElementById('totalCost').value;

            var totalFinal = totalStaying + totalFeatures;
            document.getElementById('totalFinalCost').value = totalFinal;
        }

        //------------------------------ CALLED METHODS -----------------------------------
        displayPricePerStay();
        calculateCheckbox();



        //-------------------------------- EOF --------------------------------------------
        //---------------------------------------------------------------------------------

        
