extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add' , enctype="multipart/form-data")
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Address:
      textarea.form-control(name='body')

    #form-group
    label Region:
    select.form-control(name='regions')
        option(value='North') North
        option(value='Center') Center
        option(value='South') South
        option(value='Azores') Azores
        option(value='Madeira') Madeira

    #form-group
        label MaxCapacity:
        input.form-control(type='number' name='maxCapacity' min='1' max='16')
    
    #form-group
        label Features:
        br
        input(type='checkbox' name='features' value='Elevator')
        | Elevator
        br
        input(type='checkbox' name='features' value='Balcony')
        | Balcony
        br
        input(type='checkbox' name='features' value='Terrace')
        | Terrace
        br
        input(type='checkbox' name='features' value='HandicapAcessible')
        | Handicap Friendly
    
    #form-group
        fieldset
            p
                #premiumFeaturesGroup
                    label Premium Features:
                    br
                    input(type='checkbox' name='premiumFeature1' value='10')
                    | Wifi
                    br
                    input(type='checkbox' name='premiumFeature2' value='10')
                    | Air Conditioning
                    br
                    input(type='checkbox' name='premiumFeature3' value='10')
                    | Fire Wood
                    br
                    input(type='checkbox' name='premiumFeature4' value='10')
                    | Telephone
                    br
                    input(type='checkbox' name='premiumFeature5' value='10')
                    | Cable TV Premium Serice
                    br
                    input(type='checkbox' name='premiumFeature6' value='10')
                    | Pool


    #form-group
        label Picture:
        br
        input(type='file' name='articleImage' )

 

        br
        input.btn.btn-primary(type='submit',value='Submit')
