extends layout


block content
    h1 Accomodation Booking Offers
    br
    br

    h3 Pending Offers
    ul.list-group
        each article, i in articles
            if user.id == article.author
                each booking, i in bookings
                    if booking.authorArticle == article.id
                        if booking.status == "1"
                            li.list-group-item
                                a(href="/bookings/show/makeDecision/"+booking._id)= booking.title
    br
    br
    br
    h3 Accepted Offers
    ul.list-group
        each article, i in articles
            if user.id == article.author
                each booking, i in bookings
                    if booking.authorArticle == article.id
                        if booking.status == "2"
                            li.list-group-item
                                a(href="/bookings/show/"+booking._id)= booking.title                   
    br
    br
    br
    h3 Denied Offers
    ul.list-group
        each article, i in articles
            if user.id == article.author
                each booking, i in bookings
                    if booking.authorArticle == article.id
                        if booking.status == "0"
                            li.list-group-item
                                a(href="/bookings/show/"+booking._id)= booking.title 

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    small historic
    ul.list-group
        each article, i in articles
            if user.id == article.author
                each booking, i in bookings
                    if booking.authorArticle == article.id
                        li.list-group-item
                            a(href="/bookings/show/"+booking._id)= booking.title                      
