extends layout


block content
  h1 All My Accomodation Bookings Requests
  //#{title}
  ul.list-group
    each article, i in articles
        if user.id == article.author
            each booking, i in bookings
                if booking.authorArticle == article.id
                    li.list-group-item
                        a(href="/bookings/show/"+booking._id)= booking.title

   
                              

