extends layout


block content
  h1 MY Bookings
  //#{title}
  ul.list-group
    each booking, i in bookings
        li.list-group-item
            a(href="/bookings/show/"+booking._id)= booking.title