extends layout

block content
    h1 #{title}
  
    h5 Fazer aqui dashboard cliente
    

    .row
        .col-md-3
            .card.text-center
                .card-header.bg-primary.text-white.p-2 Numero de qualquer merda
                .card-body
                    .card-title Valor
                    i.fa.fa-home.fa-2x.text-primary
                .card-footer.text-muted powered by Bibooki