extends layout

block content
    h1 #{title}
    form(method='POST', action='/bookings/show/makeDecision/statusUpdate/'+booking._id)
    

        #form-group
        label Booking Request:
        br
        input(type='radio' name='status' value='2')
        |  Accept        
        br
        input(type='radio' name='status' value='0')
        |  Decline
        br
        br

        input.btn.btn-primary(type='submit',value='Submit')

